<div class="top-embody">
  <h1>All Articles</h1>
  <% if logged_in? %>
    <p><%= link_to "Create a New Article", new_article_path, class: 'new_article' %></p>
  <% end %>
</div>

<div id="articles">
  <% @articles.each do |article| %>
    <div class="article">
      <%= link_to article.title, article_path(article) %>
    </div>
  <% end %>
</div>