<h1>All Tags, All for You</h1>

<div class="tags">
  <% @tags.each do |tag| %>
    <div class="tag">
      <%= link_to tag.name, tag_path(tag) %>
      <%= link_to "Delete", tag_path(tag), method: :delete, data: {confirm: "Are you sure you want to delete the tag?"} %><br>
    </div>
  <% end %>
</div>