body {
  display: grid;
  grid-template-rows: auto auto;
  color: #708063;
}

.top-navbar{
  background: #A0D5FD;
  grid-area: 1/1/2/4;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.top-navbar * {
  padding: 10px;
  display: inline-flex;
}

.embody {
  background: #FFC9B1;
  grid-area: 2/1/3/4;
  /*! display: grid; */
  /*! grid-template-rows: auto auto; */
  /*! grid-template-columns: 1fr minmax(0, 450px) 1fr; */
}
@media (max-width:8.5in){
  .embody {
    grid-template-columns: 5% 90% 5%;
  }
}

.top-embody {
  grid-area: 1/2/2/3;
}

.embody * {
  margin: 1%;
  padding: 1%;
  justify-self: stretch;
}

.articles {
  grid-area: 2/2/3/3;
  height: 100vh; /*temporary fix*/
}


