:root {font: 20px/1.2 'Ubuntu', sans-serif;}

body,
body * {
  margin: unset;
  box-sizing: unset;
  padding: unset;
  font-size: unset;
  color: unset;
  text-decoration: unset;
}

body {
  display: grid;
  grid-template-columns: 35% 65%;
  font-family: 'Anonymous Pro', monospace;
  color: #FE3700;
}

.left-navbar {
  grid-area: 1/1/1/2;
  background: #030401;
  color: #FE3700;
  display: grid;
  grid-template-rows: 60% 20% 20%;
  font-family: 'Anonymous Pro', monospace;
}

.left-navbar > h1 {
  grid-area: 1/1/2/2;
  font-family: 'Abril Fatface', cursive;
  font-weight: 100;
  font-size: 70px;
}

.left-navbar > div {
  color: antiquewhite;
  margin-right: 5%;
}

.embody {
  grid-area: 1/2/1/3;
  display: grid;
}

.top-embody {
  display: grid;
  place-items: center;
  grid-template-columns: 80% 20%;
}

.top-embody > h1{
  grid-area: 1/1/2/2;
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
}

.top-embody >p {
  grid-area: 1/2/2/3;
}

.article, .tag > a{
  background: #995533;
  color: white;
  font-size: 40px;
  margin: 5%;
}



.article >a {
  color: #030401;
}

.left-navbar a {
  color: lightgray;
}

.embody a{
  color: #7F220B;
}
