:root

body {
  display: grid;
  grid-template-rows: 70px auto 40px;
}

.embody {
  grid-area: 2/1/3/4;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width:8.5in){
  .embody {
    grid-template-columns: 5% 90% 5%;
  }
}

.flash {
  grid-area: 3/2/4/3;
}
.top-embody {
  grid-area: 1/2/2/3;
  border-bottom: solid;
  height: 70px;
}

.new_article {
  grid-area: 1/3/2/3;
}

.embody * {
  margin: 10px;
  padding-block-start: 5px;
}

.comments, .backopt{
  grid-area: 4/2/5/3;
  border-block-start: solid;
}

.article, .articles, .tags, .session {
  grid-area: 2/2/3/3;
}

.article, .articles, .tags {
  margin-left: -10px;
}

.footer {
  grid-area: 3/1/4/4;
  display: flex;
  justify-self: center;
  align-self: center;
}
